<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span class="font-weight-light">Countdown till</span> Next release
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn flat href="#" target="_blank">Setup</v-btn>
    </v-toolbar>
    <v-content>
      <v-container fill-height>
        <v-layout wrap align-center>
          <v-flex xs12 text-xs-center>
            <Count releaseTime="2019-05-07T23:10:00.000+02:00" @left="handleWarning"/>
            <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import Count from "./components/Count";

export default {
  name: "App",
  components: {
    Count
  },
  data() {
    return {
      //
    };
  },
  methods: {
    handleWarning(secondsLeft){
      
    }
  }
};
</script>
